{% extends 'base.html' %}
{% load fontawesome_5 %}
{% load can %}
{% load call_method %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Courses</li>
{% endblock %}

{% block content %}
{% can None request.user 'course.create' as can_create %}

{% if can_create %}
<div class="mb-4">
    <a href="{% url 'courses:create' %}" class="btn btn-primary">{% fa5_icon 'plus-circle' 'fas' %} New Course</a>
</div>
{% endif %}

<div class="table-responsive">
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>Course</th>
                <th>Role</th>
                <th>Tasks</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
                {% can course request.user 'course.join' as can_join %}
                {% can course request.user 'course.update' as can_update %}
                {% can course request.user 'course.delete' as can_delete %}
                {% can course request.user 'task.list' as can_list_task %}
                <tr>
                    <td>
                        {% if can_list_task %}
                            <a href="{% url 'courses:tasks:index' course.pk %}">{{ course.code }}</a>
                        {% else %}
                            <a href="{% url 'courses:join' course.pk %}">{{ course.code }}</a>
                        {% endif %}
                        <small class="text-muted d-block">{{ course.academic_year }} - Semester {{ course.semester }}</small>
                    </td>
                    <td class="align-middle">
                        {% call_method course "role" user as course_role %}
                        {{ course_role }}
                    </td>
                    <td class="align-middle">{{ course.tasks.count }}</td>
                    <td class="align-middle">
                        <div class="float-right">
                            {% if can_update %}
                                <a href="{% url 'courses:edit' course.pk %}" class="btn btn-outline-primary">{% fa5_icon 'edit' 'fas' %}</a>
                            {% endif %}
                            {% if can_delete %}
                                <form action="{% url 'courses:delete' course.pk %}" method="post" id="delete-{{ course.pk }}" style="display:none;">{% csrf_token %}</form>
                                <button form="delete-{{ course.pk }}" onclick="return confirm('Are you sure you want to delete this item?');" class="btn btn-outline-danger">{% fa5_icon 'trash-alt' 'fas' %}</button>
                            {% endif %}
                            {% if can_join %}
                                <a href="{% url 'courses:join' course.pk %}" class="btn btn-outline-primary">{% fa5_icon 'sign-in-alt' 'fas' %}</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
