{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block extrahead %}
    {{ form.media }}
{% endblock %}

{% block title %}
    Password Reset Confirm - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Password Reset Confirm</li>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Reset Password</button>
    </form>
{% endblock %}
