{% extends 'base.html' %}
{% load fontawesome_5 %}
{% load can %}

{% block title %}
    Invitation Keys - {{ course }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'courses:index' %}">Courses</a></li>
    <li class="breadcrumb-item"><a href="{% url 'courses:detail' course.pk %}">{{ course }}</a></li>
    <li class="breadcrumb-item active">Invitation Keys</li>
{% endblock %}

{% block content %}
    {% can course request.user 'invitation.create' as can_create %}
    {% can course request.user 'invitation.update' as can_update %}
    {% can course request.user 'invitation.delete' as can_delete %}

    {% if can_create %}
    <div class="mb-4">
        <a href="{% url 'courses:invitations:create' course.pk %}" class="btn btn-primary">{% fa5_icon 'plus-circle' 'fas' %} New Invitation Key</a>
    </div>
    {% endif %}

    <div class="table-responsive">
        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th>Invitation Key</th>
                    <th>Role</th>
                    <th>Active</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for invitation in invitations %}
                    <tr>
                        <td class="align-middle">
                            <input type="text" class="form-control" value="{{ invitation.key }}" disabled/>
                        </td>
                        <td class="align-middle">{{ invitation.get_role_display }}</td>
                        <td class="align-middle">
                            {% if invitation.valid %}
                 			    {% fa5_icon 'check-circle' 'fas' color='ForestGreen' %}
                 			{% else %}
                 			    {% fa5_icon 'times-circle' 'fas' color='red' %}
                 			{% endif %}
                        </td>
                        <td class="align-middle">{{ invitation.created_at }}</td>
                        <td class="align-middle">{{ invitation.updated_at }}</td>
                        <td class="align-middle">
                            <div class="float-right">
                                {% if can_update %}
                                    <a href="{% url 'courses:invitations:edit' course.pk invitation.pk %}" class="btn btn-outline-primary">{% fa5_icon 'edit' 'fas' %}</a>
                                {% endif %}
                                {% if can_delete %}
                                    <form action="{% url 'courses:invitations:delete' course.pk invitation.pk %}" method="post" id="delete-{{ invitation.pk }}" style="display:none;">{% csrf_token %}</form>
                                    <button form="delete-{{ invitation.pk }}" onclick="return confirm('Are you sure you want to delete this item?');" class="btn btn-outline-danger">{% fa5_icon 'trash-alt' 'fas' %}</button>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
