{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}
{% load query_transform %}
{% load rules %}

{% block extrahead %}
    {{ form.media }}
    <link rel="stylesheet" href="{% static 'css/codemirror.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/codemirror-material.min.css' %}" />
{% endblock %}

{% block title %}
    New Submission - {{ form.instance.task.name }} - {{ form.instance.task.course }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    {% url 'courses:tasks:submissions:edit' form.instance.task.course.pk form.instance.task.pk base_submission.pk 'code' as submission_edit_url %}
    <li class="breadcrumb-item">
        <a href="{% url 'courses:tasks:index' form.instance.task.course.pk %}">{{ form.instance.task.course }}</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'courses:tasks:submissions:index' form.instance.task.course.pk form.instance.task.pk %}">{{ form.instance.task.name }}</a>
    </li>
    {% if request.get_full_path == submission_edit_url %}
        <li class="breadcrumb-item active">{{ base_submission.name }}</li>
    {% else %}
        <li class="breadcrumb-item active">New Submission</li>
    {% endif %}


{% endblock %}

{% block content %}
    {% has_perm 'submission.create.code' request.user form.instance as can_create_submission_code %}
    {% has_perm 'submission.create.package' request.user form.instance as can_create_submission_package %}

    {% url 'courses:tasks:submissions:create' form.instance.task.course.pk form.instance.task.pk 'code' as submission_create_code_url %}
    {% url 'courses:tasks:submissions:create' form.instance.task.course.pk form.instance.task.pk 'package' as submission_create_package_url %}

    {% if request.get_full_path == submission_create_code_url or request.get_full_path == submission_create_package_url %}
        {% if can_create_submission_code and can_create_submission_package %}
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link {% if request.get_full_path == submission_create_code_url %}active{% endif %}" href="{{ submission_create_code_url }}">Code</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.get_full_path == submission_create_package_url %}active{% endif %}" href="{{ submission_create_package_url }}">Package</a>
                </li>
            </ul>
            <br />
        {% endif %}
    {% else %}
        <div class="table-responsive" hx-ext="morph">
            <table
                class="table"
                style="border: 1px solid #dee2e6"
                hx-get="{% url 'courses:tasks:submissions:detail' course.pk task.pk base_submission.pk %}?{% query_transform request partial=1 %}"
                hx-swap="morph:{morphStyle:'innerHTML',callbacks:{beforeAttributeUpdated:function(attributeName,node,mutationType){if(node.type=='checkbox'){return!1}if(node.classList.contains('collapse')||node.classList.contains('clickable')){return!1}}}}"
                hx-trigger="every 2s"
                hx-on::after-settle="uncollapseSubmissionIfFinished(this, event);"
            >
                {% include 'submission/partial/detail.html' with submission=base_submission single=True %}
            </table>
        </div>
    {% endif %}
    {% crispy form %}
    <button type="submit" class="btn btn-success" form="submission-form">Submit</button>
    <button
        type="submit"
        class="btn btn-info"
        form="submission-form"
        onclick="
            var input = document.createElement('input');
            input.setAttribute('type', 'hidden');
            input.setAttribute('name', 'continue');
            input.setAttribute('value', 1);
            document.getElementById('submission-form').appendChild(input);"
    >
        Submit and continue
    </button>

    <script
        type="text/javascript"
        src="{% static 'js/codemirror.min.js' %}"
    ></script>
    <script
        type="text/javascript"
        src="{% static 'js/codemirror-python.min.js' %}"
    ></script>
    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById("id_code"), {
            mode: "python",
            theme: "material",
            lineNumbers: true,
        });
        editor.setSize(null, 768);
        editor.save();
    </script>
{% endblock %}
