{% extends 'base.html' %}

{% load fontawesome_5 %}
{% load call_method %}
{% load rules %}
{% load define %}
{% load addstr %}
{% load query_transform %}
{% load humanize %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
    {{ task.name }} - {{ task.course }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'courses:index' %}">Courses</a></li>
    <li class="breadcrumb-item">
        <a href="{% url 'courses:tasks:index' task.course.pk %}">{{ task.course }}</a>
    </li>
    <li class="breadcrumb-item active">{{ task.name }}</li>
{% endblock %}


{% block content %}
    {% url 'courses:tasks:submissions:index' course.pk task.pk as submissions_index_url %}

    {% has_perm 'submission.list.all' request.user task as can_list_all_submission %}
    {% has_perm 'submission.create' request.user task as can_create_submission %}
    {% has_perm 'submission.create.permission' request.user task as has_create_submission_permission %}
    {% has_perm 'submission.run' request.user task as can_run_submission %}
    {% has_perm 'task.download.template' request.user task as can_download_template_task %}
    {% has_perm 'leaderboard.detail' request.user task as can_detail_leaderboard %}
    {% has_perm 'stats.detail' request.user task as can_detail_stats %}
    {% has_perm 'similarity.list' request.user task as can_list_similarity %}

    {% if can_create_submission %}
        {% define "primary" as button_decorator %}
    {% else %}
        {% define "secondary" as button_decorator %}
    {% endif %}

    <h1>{{ task.name }}</h1>
    <span>{{ task.description }}</span>

    <div class="card" style="margin-top: 20px; margin-bottom: 20px">
        <div class="card-body">
            {{ task.daily_submission_limit }} max daily submission(s),
            {{ task.max_upload_size|intcomma }} KB max size,
            {{ task.run_time_limit|intcomma }} second(s) time limit,
            {{ task.memory_limit|intcomma }} KB memory limit.
        </div>
    </div>

    <div class="d-flex justify-content-between">
        <div>
            <ul class="button-list">
                {% if has_create_submission_permission %}
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-{{ button_decorator }} dropdown-toggle"  type="button" id="submission-new-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% fa5_icon 'plus-circle' 'fas' %} New submission
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{% url 'courses:tasks:submissions:create' task.course.pk task.pk 'code' %}">Code</a>
                                <a class="dropdown-item" href="{% url 'courses:tasks:submissions:create' task.course.pk task.pk 'package' %}">Package</a>
                            </div>
                        </div>
                    </li>
                {% endif %}
                {% if task.template and can_download_template_task %}
                    <li>
                        <a href="{% url 'courses:tasks:download-template' task.course.pk task.pk %}" class="btn btn-primary btn-btn-outline-secondary">{% fa5_icon 'download' 'fas' %} Download Template</a>
                    </li>
                {% endif %}
                {% if can_run_submission %}
                    <li>
                        <button type="submit" form="submissions-run" class="btn btn-outline-info">
                            {% fa5_icon 'redo' 'fas' %} Re-Run
                        </button>
                    </li>
                {% endif %}
                {% if can_detail_leaderboard or can_details_stats or can_list_similarity %}
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="More Options">
                                {% fa5_icon 'bars' 'fas' %}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% if can_detail_leaderboard %}
                                    <a href="{% url 'courses:tasks:info:leaderboard' task.course.pk task.pk %}" class="dropdown-item">Leaderboard</a>
                                {% endif %}
                                {% if can_detail_stats %}
                                    <a href="{% url 'courses:tasks:info:stats' task.course.pk task.pk %}" class="dropdown-item">Stats</a>
                                {% endif %}
                                {% if can_list_similarity and task.template %}
                                    <a href="{% url 'courses:tasks:info:similarities' task.course.pk task.pk %}" class="dropdown-item">Similarities</a>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Per Page</div>
                </div>
                <select name="per_page" id="per_page" class="custom-select">
                    {% for pp in per_page_options %}
                        {% if pp == paginator.per_page %}
                            <option selected="selected" value="{{ submissions_url }}?{% query_transform request per_page=pp page=1 %}">{{pp}}</option>
                        {% else %}
                            <option value="{{ submissions_url }}?{% query_transform request per_page=pp page=1 %}">{{pp}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    {% if can_list_all_submission %}
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link {% if not view_all %}active{% endif %}" href="{% url 'courses:tasks:submissions:index' task.course.pk task.pk %}">My Submissions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if view_all %}active{% endif %}" href="{% url 'courses:tasks:submissions:index' task.course.pk task.pk %}?all=1">Submissions</a>
            </li>
        </ul>
    {% endif %}

    <form id="submissions-run" action="{% url 'courses:tasks:submissions:run' course.pk task.pk %}" method="post">
        {% csrf_token %}
        <div class="table-responsive" hx-ext="morph">
            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        {% if can_run_submission %}
                            <th>
                                <input type="checkbox" onClick="toggle_checkboxes(this)" />
                            </th>
                        {% endif %}
                        <th>ID</th>
                        {% if view_all %}
                            <th>User</th>
                            <th>Name</th>
                        {% endif %}
                        <th>Submission</th>
                        <th></th>
                        <th>Size</th>
                        <th>Verdict</th>
                        <th>Created At</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody
                    hx-get="{% url 'courses:tasks:submissions:index' task.course.pk task.pk %}?{% query_transform request partial=1 %}"
                    hx-swap="morph:{morphStyle:'innerHTML',callbacks:{beforeAttributeUpdated:function(attributeName,node,mutationType){if(node.type=='checkbox'){return!1}if(node.classList.contains('collapse')||node.classList.contains('clickable')){return!1}}}}"
                    hx-trigger="every 2s"
                >
                    {% include 'submission/partial/list.html' with submissions=submissions %}
                </tbody>
            </table>
        </div>
    </form>

    <div class="d-flex justify-content-center">
        {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
    </div>

    <script type="text/javascript">
        $('[data-tooltip="tooltip"]').tooltip();

        function toggle_checkboxes(source) {
            checkboxes = document.getElementsByName('submissions_selected[]');
            for(var i=0, n=checkboxes.length;i<n;i++) {
                checkboxes[i].checked = source.checked;
            }
        }
    </script>
{% endblock %}
