{% extends 'base.html' %}

{% load fontawesome_5 %}
{% load call_method %}
{% load can %}
{% load define %}
{% load addstr %}
{% load query_transform %}
{% load humanize %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
    {{ task.name }} - {{ task.course }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'courses:index' %}">Courses</a></li>
    <li class="breadcrumb-item">
        <a href="{% url 'courses:tasks:index' task.course.pk %}">{{ task.course }}</a>
    </li>
    <li class="breadcrumb-item active">{{ task.name }}</li>
{% endblock %}


{% block content %}
    {% url 'courses:tasks:submissions:index' course.pk task.pk as submissions_index_url %}
    {% call_method task 'submissions_exceeded_by_user' request.user as submission_exceeded %}
    {% can task.course request.user 'task.update' as can_update %}
    {% can task.course request.user 'task.download.template' as can_download_template %}
    {% can task.course request.user 'submission.create' as can_create %}
    {% can task.course request.user 'submission.list' as can_view_all %}
    {% can task.course request.user 'submission.run' as can_run %}
    {% can task.course request.user 'leaderboard' as can_leaderboard %}
    {% can task.course request.user 'stats' as can_stats %}
    {% if can_update or not submission_exceeded and can_create and task.is_open %}
        {% define "primary" as button_decorator %}
    {% else %}
        {% define "secondary" as button_decorator %}
    {% endif %}

    <h1>{{ task.name }}</h1>
    <span>{{ task.description }}</span>

    <div class="card" style="margin-top: 20px; margin-bottom: 20px">
        <div class="card-body">
            {{ task.daily_submission_limit }} max daily submission(s),
            {{ task.max_upload_size|intcomma }} KB max size,
            {{ task.run_time_limit|intcomma }} second(s) time limit,
            {{ task.memory_limit|intcomma }} KB memory limit.
        </div>
    </div>

    <div class="d-flex justify-content-between">
        <div>
            <ul class="button-list">
                <li>
                    <div class="dropdown">
                        <button class="btn btn-{{ button_decorator }} dropdown-toggle"  type="button" id="submission-new-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% fa5_icon 'plus-circle' 'fas' %} New submission
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'courses:tasks:submissions:create' task.course.pk task.pk 'code' %}">Code</a>
                            <a class="dropdown-item" href="{% url 'courses:tasks:submissions:create' task.course.pk task.pk 'package' %}">Package</a>
                        </div>
                    </div>
                </li>
                {% if task.template and can_download_template %}
                    <li>
                        <a href="{% url 'courses:tasks:download-template' task.course.pk task.pk %}" class="btn btn-primary btn-btn-outline-secondary">{% fa5_icon 'download' 'fas' %} Download Template</a>
                    </li>
                {% endif %}
                {% if can_run %}
                    <li>
                        <button type="submit" form="submissions-run" class="btn btn-outline-info">
                            {% fa5_icon 'redo' 'fas' %} Re-Run
                        </button>
                    </li>
                {% endif %}
                {% if can_leaderboard or can_stats or task.leaderboard %}
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="More Options">
                                {% fa5_icon 'bars' 'fas' %}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% if can_leaderboard or task.leaderboard %}
                                    <a href="{% url 'courses:tasks:info:leaderboard' task.course.pk task.pk %}" class="dropdown-item">Leaderboard</a>
                                {% endif %}
                                {% if can_stats %}
                                    <a href="{% url 'courses:tasks:info:stats' task.course.pk task.pk %}" class="dropdown-item">Stats</a>
                                    {% if task.template %}
                                        <a href="{% url 'courses:tasks:info:similarities' task.course.pk task.pk %}" class="dropdown-item">Similarities</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Per Page</div>
                </div>
                <select name="per_page" id="per_page" class="custom-select">
                    {% for pp in per_page_options %}
                        {% if pp == paginator.per_page %}
                            <option selected="selected" value="{{ submissions_url }}?{% query_transform request per_page=pp page=1 %}">{{pp}}</option>
                        {% else %}
                            <option value="{{ submissions_url }}?{% query_transform request per_page=pp page=1 %}">{{pp}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    {% if can_view_all %}
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link {% if not view_all %}active{% endif %}" href="{% url 'courses:tasks:submissions:index' task.course.pk task.pk %}">My Submissions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if view_all %}active{% endif %}" href="{% url 'courses:tasks:submissions:index' task.course.pk task.pk %}?all=1">Submissions</a>
            </li>
        </ul>
    {% endif %}

    <form id="submissions-run" action="{% url 'courses:tasks:submissions:run' course.pk task.pk %}" method="post">
        {% csrf_token %}
        <div class="table-responsive" hx-ext="morph">
            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        {% if can_run %}
                            <th>#</th>
                        {% endif %}
                        <th>ID</th>
                        {% if view_all %}
                            <th>User</th>
                            <th>Name</th>
                        {% endif %}
                        <th>Submission</th>
                        <th></th>
                        <th>Size</th>
                        <th>Verdict</th>
                        <th>Created At</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody
                    hx-get="{% url 'courses:tasks:submissions:index' task.course.pk task.pk %}?{% query_transform request partial=1 %}"
                    hx-swap="morph:{morphStyle:'innerHTML',callbacks:{beforeAttributeUpdated:function(attributeName,node,mutationType){if(node.type=='checkbox'){return!1}if(node.classList.contains('collapse')||node.classList.contains('clickable')){return!1}}}}"
                    hx-trigger="every 2s"
                >
                    {% include 'submission/partial/list.html' with submissions=submissions %}
                </tbody>
            </table>
        </div>
    </form>

    <div class="d-flex justify-content-center">
        {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
    </div>

    <script type="text/javascript">
        $("#per_page").change(function (e) {
            window.location.href = $(this).val();
        });

        $(document).ready(function () {
            $(document).on("click", ".clickable input", function (event) {
                event.stopPropagation();
            });

            $(document).on("click", ".clickable a", function (event) {
                event.stopPropagation();
            });

            $('[data-tooltip="tooltip"]').tooltip();
        });
    </script>
{% endblock %}
