{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block extrahead %}
    {{ form.media }}
    <link rel="stylesheet" href="{% static 'css/codemirror.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/codemirror-material.min.css' %}" />
{% endblock %}

{% block title %}
    {{ form.instance.name | default:"New Task" }} - {{ form.instance.course.code }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'courses:tasks:index' form.instance.course.pk %}">{{ form.instance.course }}</a>
    </li>
    <li class="breadcrumb-item active">{{ form.instance.name | default:"New Task" }}</li>
{% endblock %}

{% block content %}
    {% url 'courses:tasks:edit' form.instance.course.pk form.instance.pk "code" as task_edit_code_url %}
    {% url 'courses:tasks:edit' form.instance.course.pk form.instance.pk "package" as task_edit_package_url %}
    {% url 'courses:tasks:create' form.instance.course.pk "code" as task_create_code_url %}
    {% url 'courses:tasks:create' form.instance.course.pk "package" as task_create_package_url %}
    <ul class="nav nav-tabs">
        {% if request.get_full_path == task_edit_code_url or request.get_full_path == task_edit_package_url %}
            <li class="nav-item">
                <a class="nav-link {% if request.get_full_path == task_edit_code_url %}active{% endif %}" href="{{ task_edit_code_url }}">Code</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.get_full_path == task_edit_package_url %}active{% endif %}" href="{{ task_edit_package_url }}">Package</a>
            </li>
        {% endif %}
        {% if request.get_full_path == task_create_code_url or request.get_full_path == task_create_package_url %}
            <li class="nav-item">
                <a class="nav-link {% if request.get_full_path == task_create_code_url %}active{% endif %}" href="{{ task_create_code_url }}">Code</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.get_full_path == task_create_package_url %}active{% endif %}" href="{{ task_create_package_url }}">Package</a>
            </li>
        {% endif %}
    </ul>
    <br />
    {% crispy form %}
    <button type="submit" class="btn btn-success" form="task-form">Save</button>
    <button
        type="submit"
        class="btn btn-info"
        form="task-form"
        onclick="
        var input = document.createElement('input');
        input.setAttribute('type', 'hidden');
        input.setAttribute('name', 'continue');
        input.setAttribute('value', 1);
        document.getElementById('task-form').appendChild(input);
    "
    >
        Save and continue
    </button>

    <script
        type="text/javascript"
        src="{% static 'js/codemirror.min.js' %}"
    ></script>
    <script
        type="text/javascript"
        src="{% static 'js/codemirror-python.min.js' %}"
    ></script>
    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById("id_code"), {
            mode: "python",
            theme: "material",
            lineNumbers: true,
        });
        editor.setSize(null, 768);
        editor.save();
        var setup_editor = CodeMirror.fromTextArea(
            document.getElementById("id_setup"),
            {
                mode: "python",
                theme: "material",
                lineNumbers: true,
            },
        );
        setup_editor.save();
        var template_editor = CodeMirror.fromTextArea(
            document.getElementById("id_template_code"),
            {
                mode: "python",
                theme: "material",
                lineNumbers: true,
            },
        );
        template_editor.setSize(null, 768);
        template_editor.save();
    </script>
{% endblock %}
