{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block title %} Join - {{ course }} - {{ block.super }} {% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'courses' %}">Courses</a></li>
<li class="breadcrumb-item">
    <a href="{% url 'course' course.pk %}"
        >{{ course }}</a
    >
</li>
<li class="breadcrumb-item active">Join</li>
{% endblock %}

{% block content %}
<form method="post" novalidate>
    {% csrf_token %} {{ form|crispy }}
    <button type="submit" class="btn btn-success">Submit</button>
</form>
{% endblock %}
