{% extends 'base.html' %}

{% load fontawesome_5 %}
{% load submission_is_allowed %}
{% load can %}
{% load define %}
{% load addstr %}
{% load query_transform %}
{% load humanize %}
{% load static %}

{% block title %}
  {{ task.name }} - {{ task.course }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'courses' %}">Courses</a></li>
  <li class="breadcrumb-item"><a href="{% url 'course' task.course.pk %}">{{ task.course }}</a></li>
  <li class="breadcrumb-item active">{{ task.name }}</li>
{% endblock %}

{% block content %}

  {% submission_is_allowed task request.user as submission_allowed %}
  {% can task.course request.user 'task.edit' as can_edit %}
  {% can task.course request.user 'task.submit' as can_submit %}
  {% can task.course request.user 'submission.view' as can_view_all %}
  {% can task.course request.user 'submission.rerun' as can_rerun %}

  {% if can_edit or submission_allowed and can_submit and task.is_open %}
    {% define "btn-primary" as button_decorator %}
  {% else %}
    {% define "btn-secondary" as button_decorator %}
  {% endif %}

  <h1>{{ task.name }}</h1>
  <span>{{ task.description }}</span>

  <div class="card" style="margin-top:20px; margin-bottom:20px">
    <div class="card-body">
	{{ task.daily_submission_limit }} max daily submission(s),
        {{ task.max_upload_size|intcomma }} KB max size,
        {{ task.run_time_limit|intcomma }} second(s) time limit,
        {{ task.memory_limit|intcomma }} KB memory limit.
    </div>
  </div>

  <form action="{% url 'submissions_action' %}" method="post">
    {% csrf_token %}

    <div class="d-flex justify-content-between">
      <div>
         <ul class="button-list">
            <li>
                <div class="dropdown">
                  <button class="btn {{ button_decorator }} dropdown-toggle" type="button" id="submission-new-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% fa5_icon 'plus-circle' 'fas' %} New submission
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'submission_new_code' task.course.pk task.pk %}">Code</a>
                    <a class="dropdown-item" href="{% url 'submission_new_package' task.course.pk task.pk %}">Package</a>
                  </div>
                </div>
            </li>
            {% if task.template %}
            <li><a href="{% url 'template_download' task.pk %}" class='btn {{ button_decorator }} btn-btn-outline-secondary'>{% fa5_icon 'download' 'fas' %} Download Template</a></li>
            {% endif %}
            {% if can_edit or task.leaderboard %}
            <li><a href="{% url 'leaderboard' task.course.pk task.pk %}" class="btn btn-outline-success">{% fa5_icon 'crown' 'fas' %} Leaderboard</a></li>
            {% endif %}
            {% if can_edit %}
            <li><a href="{% url 'stats' task.course.pk task.pk %}" class="btn btn-outline-success">{% fa5_icon 'signal' 'fas' %} Stats</a></li>
              {% if task.template %}
              <li><a href="{% url 'similarities' task.course.pk task.pk %}" class="btn btn-outline-success">{% fa5_icon 'copy' 'fas' %} Similarities</a></li>
              {% endif %}
            {% endif %}
            {% if can_view_all and not view_all %}
              <li><a href="{% url 'submissions' task.course.pk task.pk %}?{% query_transform request others=1 %}" class="btn btn-outline-info">{% fa5_icon 'list-ul' 'fas' %} View Others</a></li>
            {% endif %}
            {% if can_view_all and view_all %}
            <li><a href="{% url 'submissions' task.course.pk task.pk %}" class="btn btn-outline-info">{% fa5_icon 'list-ul' 'fas' %} View Less</a></li>
            {% endif %}
            {% if can_rerun %}
            <li><button type="submit" name="rerun" class="btn btn-outline-info">{% fa5_icon 'redo' 'fas' %} Re-Run</button></li>
            {% endif %}
          </ul>
      </div>
      <div>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">Per Page</div>
          </div>
           <select name="per_page" id="per_page" class="custom-select">
            {% for pp in per_page_options %}
              {% if pp == submissions.paginator.per_page %}
              ansdanda
              <option selected="selected" value="{% url 'submissions' task.course.pk task.pk %}?{% query_transform request per_page=pp page=1 %}">{{pp}}</option>
                {% else %}
              <option value="{% url 'submissions' task.course.pk task.pk %}?{% query_transform request per_page=pp page=1 %}">{{pp}}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
    </div>


    <div class="table-responsive" hx-ext="morph">
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            {% if can_edit %}
            <th>#</th>
            {% endif %}
            <th>ID</th>
            {% if view_all %}
            <th>User</th>
            <th>Name</th>
            {% endif %}
            <th>Submission</th>
            <th></th>
            <th>Size</th>
            <th>Verdict</th>
            <th>Created At</th>
            <th></th>
          </tr>
        </thead>
        <tbody hx-get="{% url 'partial_submissions' task.course.pk task.pk %}?{% query_transform request %}" hx-swap="morph:{morphStyle:'innerHTML',callbacks:{beforeAttributeUpdated:function(attributeName,node,mutationType){if(node.type=='checkbox'){return!1}if(node.classList.contains('collapse')||node.classList.contains('clickable')){return!1}}}}" hx-trigger="every 2s">
          {% include 'partials/submissions.html' with submissions=submissions %}
        </tbody>
      </table>
    </div>

    {% if submissions.paginator.num_pages > 1 %}
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center flex-wrap">
        {% if submissions.has_previous %}
        <li class="page-item">
          <a class="page-link" href="{% url 'submissions' task.course.pk task.pk %}?{% query_transform request page=1 %}" tabindex="-1">{% fa5_icon 'angle-double-left' 'fas' %}</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="{% url 'submissions' task.course.pk task.pk %}?{% query_transform request page=submissions.previous_page_number %}" tabindex="-1">{% fa5_icon 'angle-left' 'fas' %}</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">{% fa5_icon 'angle-double-left' 'fas' %}</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">{% fa5_icon 'angle-left' 'fas' %}</a>
        </li>
        {% endif %}
        {% for l in  submissions.paginator.page_range %}
          {% if l <= submissions.number|add:5 and l >= submissions.number|add:-5 %}
            {% if l == submissions.number %}
            <li class="page-item active">
              <span class="page-link">
                <span>{{forloop.counter}}</span>
              </span>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{% url 'submissions' task.course.pk task.pk %}?{% query_transform request page=forloop.counter %}">{{forloop.counter}}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% if submissions.has_next %}
        <li class="page-item">
          <a class="page-link" href="{% url 'submissions' task.course.pk task.pk %}?{% query_transform request page=submissions.next_page_number %}" tabindex="-1">{% fa5_icon 'angle-right' 'fas' %}</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="{% url 'submissions' task.course.pk task.pk %}?{% query_transform request page=submissions.paginator.num_pages %}" tabindex="-1">{% fa5_icon 'angle-double-right' 'fas' %}</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">{% fa5_icon 'angle-right' 'fas' %}</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">{% fa5_icon 'angle-double-right' 'fas' %}</a>
        </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}

  </form>
  <script type="text/javascript">
    $("#per_page").change(function(e) {
       window.location.href = $(this).val();
    });

    $(document).ready(function() {
      $(document).on('click', '.clickable input', function(event){
        event.stopPropagation();
      });

      $(document).on('click', '.clickable a', function(event){
        event.stopPropagation();
      });

      $('[data-tooltip="tooltip"]').tooltip();
    });
  </script>
{% endblock %}
